.wrapper {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-card {
  width: 30vw;
  height: 10%;
}

.streamVideo {
    border-radius: 10px;
  width: 100%;
  height: 100%;
}
